/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul.navbar-nav {
	float: right;
}

.banner {
  background: url(../images/banner.jpg) no-repeat;
  background-position: center;
  height: 320px;
  overflow: hidden;
}

.jumbotron .container {
	color: white;
	text-shadow: 1px 1px 5px black;
}