/* Fonts
-------------------------------------------------- */
@font-face {
  font-family: 'AlexBrush';
  src: url('../fonts/AlexBrush-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Copse';
  src: url('../fonts/Copse-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'lmsans10';
  src: url('../fonts/lmsans10-regular.otf') format('opentype');
}


/* Nav styles
-------------------------------------------------- */
.navbar {
  background: #932629;
  border-bottom: 3px solid white;
}
h1, h2, .navbar-brand {
  font-family: 'AlexBrush', 'Brush Script MT', cursive;
}
.navbar-nav > li.active {
  background: #932629;
}
.icon-bar {
  background-color: black;
}
#small-logo {
  padding: 0;
  margin: 0;
  height: 45px;
  width: 215px;
  background: url(../images/MES_Logo_small.png) no-repeat;
  display: inline-block;
  background-position: top left;
}

/* Jumbotron styles
-------------------------------------------------- */
.banner {
  background: url(../images/banner.jpg) no-repeat;
  background-position: center;
  height: 320px;
  overflow: hidden;
}
.jumbotron .container {
  color: white;
  text-shadow: 1px 1px 5px black;
}

/* General body styles
-------------------------------------------------- */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: url(../images/brickwall.png) repeat;
  font-family: 'Copse', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
h3 {
  font-family: 'Copse', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 3em;
}
.fatPadding {
  padding-top: 65px;
}
.fattestPadding {
  padding-top: 90px;
}
.container {
  padding: 0 25px 0 25px;
}
.red-text {
  color:#932629;
}
.red-text-shadow {
  text-shadow: 0 0 10px #e73c41;
}
.smallCallout {
  height: 400px;
  background: url(../images/kids.jpg) no-repeat;
  background-position: center;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}
.featurette .featurette-heading {
  margin-top: 0;
}
.featurette .sub-feature {
  margin-top: 50px;
}
.container .featurette-divider {
  margin: 60px 0;
}
.alt-fade {
  background-color:rgba(255,255,255,.5);
}

/* Marketing Content
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-md-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
._program-buttons > button {
  margin: 3px 5px 3px 5px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.program-details {
  margin-top: 20px;
}

/* Media Queries
------------------------- */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jumbotron .container h1 {
    font-size: 2em;
  }
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron .container h1 {
    font-size: 2.5em;
  }
  .featurette-heading {
    font-size: 50px;
    margin-top: 120px;
  }
  .tall-col {
    min-height: 500px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron .container h1 {
    font-size: 3em;
  }
}
